@model SACAAE.Models.Sede

@{
    ViewBag.Title = "Eliminar Sede";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<h2>Eliminar Sede</h2>

<h3>¿Está seguro que desea eliminar esto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
