@model SACAAE.Models.Sede

@{
    ViewBag.Title = "Detalle de Sede";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<h2>Detalle de Sede</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Atras", "Index")
</p>
