
@{
    ViewBag.Title = "CargarCSV";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<h1 class="page-header">Cargar Archivo CSV</h1>

<button type="button" class="btn btn-default" id="btnDownloadCSV"> @Html.ActionLink("Descargar Plantilla CSV", "DownloadCSVTemplate") </button>

<button type="button" class="btn btn-default" id="btnLoadCSV" >Cargar Asignaciones </button>