@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/Privado.cshtml";
}
<body>
    <!--
    <div class="jumbotron">
        <h1>Bienvenido!</h1>
        <p>Bienvenido al Sistema de Asignación de Carga Académica de la Escuela de Administración de Empresas - TEC.
           Seleccione una entidad de la lista de botones ubicados en la barra superior derecha para filtrar los resultados. </p>

    </div>
        -->
</body>
