@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<div style="margin-top: 50px;">
    @{
        var alerts = (Request.Cookies["alerts"] != null) ? Request.Cookies["alerts"].Value : "false";
        if (Convert.ToBoolean(alerts))
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Existen comisiones o proyectos caducados. <a href="@Url.Action("Index", "Alerts")" class="alert-link">Solucionar</a>
            </div>
        }
    }    

    <div class="jumbotron">
        <h1>Bienvenido!</h1>
        <p>
            Sistema de Asignación de Carga Académica de la Escuela de Administración de Empresas - TEC.
        </p>

    </div>
</div>