@model SACAAE.Models.AcademicBlock

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<h2>Detalle Bloque Académico </h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Nivel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Atrás", "Index")
</p>
